body {
	color:black;
	background-color: black;
}
main {
	color:lightgrey;
	background-color:black;
}

h2 {
	color: lightblue;
}
h3 {
	font-size:2em;
	color:lightsteelblue;
}
ol {
	color:lightgray;
}
span {
	color:blueviolet;
	text-align: right;
}
section {
	color: black;
}
strong {
	font-size:1.5em;
}

i {
	font-size:1.25em;
}
.container {
	color: black;
	background-color:lightgray;
}
.content {
	color: black;
	text-align: right;
}
#registerList {
	color:lightgray;
}
#persona {
	color:black;
	padding-left:1.5em;
}
#register {
	color:lightgray;
	padding-left:2em;
}
#age {
	color:black;
}
#product {
	color:black;
}
#productPrices {
	color:black;
}
#head {
	color:black;
}
#step1 {
	color:black;
	text-align: center;
	font-size:1.5em;

}
#explore {
	color:black;
}
#unregisteredUser {
	background-color: darkslategray;
}
#thoughts {
	color:lightsteelblue;
	background-color:gray;
}
#furtherSteps {
	background:palegreen;
	background:linear-gradient(top,lightgreen,mediumspringgreen);
	background:-moz-linear-gradient(top,springgreen,lawngreen);
	background: -webkit-linear-gradient(top,limegreen,yellowgreen);
	background: -ms-linear-gradient(top,seagreen,darkgreen);
}
#exploreEtsy {
	background-color:gray;
	color:black;

}
.lead {
	font-size:3.5em;
	color:black;
}
.orangegrad {
	background:orange;
	background:linear-gradient(top,#fb0,#f50);
	background:-moz-linear-gradient(top,#fb0,#f50);
	background: -webkit-linear-gradient(top,#fb0,#f50);
	background: -ms-linear-gradient(top,#fb0,#f50);
}
#exploreList {
	background-color:darkgray;
}