
body {
	color:black;
	background-color: black;
}
main {
	color:lightgrey;
	background-color:black;
}

h2 {
	color: lightblue;
}
h3 {
	font-size:2em;
	color:lightsteelblue;
}
ol {
	color:lightgray;
}
span {
	color:blueviolet;
	text-align: right;
}
section {
	color: black;
}
strong {
	font-size:1.5em;
}
li {
	color:black;
}

i {
	font-size:1.25em;
	padding-left:1.5em;

}
.container {
	color: black;
	background-color:lightgray;
}

#persona {
	color:black;
	padding-left:1.5em;
}

#step1 {
	color:black;
	text-align: center;
	font-size:1.5em;

}

#furtherSteps {
	background:palegreen;
	background:linear-gradient(top,yellow,greenyellow);
	background:-moz-linear-gradient(top,mediumvioletred,darkgoldenrod);
	background: -webkit-linear-gradient(top,fuchsia,lawngreen);
	background: -ms-linear-gradient(top,blanchedalmond,blue);
}
#exploreEtsy {
	background:linear-gradient(top,lightgoldenrodyellow,darkolivegreen);
	background:-moz-linear-gradient(top,mediumpurple,olivedrab);
	background:-webkit-linear-gradient(top,hotpink,lightsalmon);
	background:-ms-linear-gradient(top,violetet,deeppink);
}

#signup{
	background:linear-gradient(top,yellow,greenyellow);
	background:-moz-linear-gradient(top,aquamarine,blue);
	background:-webkit-linear-gradient(top,forestgreen,orangered);
	background:-ms-linear-gradient(top,coral,yellow);
}
.lead {
	font-size:3.5em;
	color:black;
}
.orangegrad {
	background:orange;
	background:linear-gradient(top,#fb0,#f50);
	background:-moz-linear-gradient(top,#fb0,#f50);
	background: -webkit-linear-gradient(top,#fb0,#f50);
	background: -ms-linear-gradient(top,#fb0,#f50);
}
