body {
	color:white;
	background-color: black;
}
main {
	color:lightgrey;
	background-color:black;
}

h2 {
	color: lightblue;
}
h3 {
	font-size:2em;
	color:lightsteelblue;
}
ol {
	color:lightgray;
}
span {
	color:blueviolet;
	text-align: right;
	font-weight: bolder;
}
#entity {
	color:springgreen;
}
#entityRelationship {
	color:wheat;
	background-color: black;
	-Moz-animation-duration: 10s;
	-webkit-animation-delay: 5s;
	-Moz-animation-iteration-count: infinite;
}

section {
	color: black;
}
strong {
	font-size:1.5em;
}

i {
	font-size:1.25em;
	font-style:italic;
	font-weight:normal;
}
.container {
	color: black;
	background-color:lightgray;
}

#registerList {
	color:lightgray;
}
#persona {
	color:black;
	padding-left:1.5em;
}

#companyInfo {
	color:lightblue;
	background-color: black;
	-Moz-animation-duration: 3s;
	-webkit-animation-delay: 1s;
	-webkit-animation-iteration-count: 10;
}

#step1 {
	color:black;
	text-align: center;
	font-size:1.5em;

}

#unregisteredUser {
	background-color: darkslategray;
}
#thoughts {
	color:lightsteelblue;
	background-color:black;
	-Moz-animation-duration: 5s;
	-Moz-animation-iteration-count: infinite;


}
#furtherSteps {
	background:palegreen;
	background:linear-gradient(top,lightgreen,mediumspringgreen);
	background:-moz-linear-gradient(top,springgreen,lawngreen);
	background:-webkit-linear-gradient(top,limegreen,yellowgreen);
	background:-ms-linear-gradient(top,seagreen,darkgreen);
	-Moz-animation-duration: 2s;
	-webkit-animation-delay: 2s;
	-Moz-animation-iteration-count: infinite;
}
#exploreEtsy {
	background-color:gray;
	color:black;

}
.lead {
	font-size:3.5em;
	color:black;
}
#orangegrad {
	background: orange;
	background: linear-gradient(top, #fb0, #f50);
	background: -moz-linear-gradient(top, #fb0, #f50);
	background: -webkit-linear-gradient(top, #fb0, #f50);
	background: -ms-linear-gradient(top, #fb0, #f50);
	-Moz-animation-duration: 2s;
	-webkit-animation-delay: 1s;
	-Moz-animation-iteration-count: infinite;
}

